absl-py==0.1.12
astor==0.6.2
bleach==1.5.0
cffi==1.11.5
cmake==3.11.0
cycler==0.10.0
decorator==4.2.1
entrypoints==0.2.3
gast==0.2.0
grpcio==1.10.0
h5py==2.7.1
html5lib==0.9999999
imgaug==0.2.5
intel-openmp==2018.0.0
ipykernel==4.8.2
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.2.0
jedi==0.11.1
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
Keras==2.1.5
kiwisolver==1.0.1
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.2.2
mistune==0.8.3
mkl==2018.0.0
mkl-include==2018.0.0
munch==2.3.1
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.1
notebook==5.4.1
numpy==1.14.3
pandocfilters==1.4.2
parso==0.1.1
pexpect==4.4.0
pickleshare==0.7.4
Pillow==5.1.0
pretrainedmodels==0.4.1
prompt-toolkit==1.0.15
protobuf==3.5.2.post1
ptyprocess==0.5.2
pycparser==2.18
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.7.2
pytz==2018.3
PyWavelets==0.5.2
PyYAML==3.12
pyzmq==17.0.0
qtconsole==4.3.1
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==1.0.0
selectivesearch==0.4
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.11.0
tensorboard==1.8.0
tensorboardX==1.1
tensorflow==1.5.0
tensorflow-gpu==1.5.0
tensorflow-tensorboard==1.5.1
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
torch==0.4.0
torchvision==0.2.1
tornado==5.0.1
tqdm==4.22.0
traitlets==4.3.2
typing==3.6.4
wcwidth==0.1.7
Werkzeug==0.14.1
widgetsnbextension==3.2.0
